body {
    font-family: system-ui, sans-serif;
    max-width: 500px;
    margin: 2rem auto;
}

header {
    margin-bottom: 2rem;
    margin-top: 10rem;
}

form,
.toolbar {
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
    margin-left: 2rem;
}

input,
button {
    padding: 1rem .75rem;
    color: rgb(0, 208, 255);
}

ul {
    padding-left: 2rem;
}

li {
    margin: .25rem 0;
    
}

.empty {
    opacity: .6;
    font-style: italic;
}